.chit{
    text-align: right;
    color:#9898A3;
}
ion-img{
    height: 80px;
    width: 80px;
    }
    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .total_chits{
float:right;
    }
    .logout{
        padding-top: 2rem;
        padding-right: 2rem;
        color:#fff;
    }
    .header{
        font-size: 17px;
        color: #fff;
        margin-left: 6px;
        font-weight: bold;
    }
    .name{
        color:#323148;
        font-weight: bold;
    }
    .id{
        color:#323148;
    }
    ion-header ion-toolbar:first-child{
    background: linear-gradient(to right, #222428 0%, #354466 100%) !important;
    }
    .login-name{
        font-size: 16px;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
margin-bottom: 0;
text-align: right;
margin: 10px;
    }
ion-spinner  {
    stroke: #ff0000;
    fill: #8b0000;
    position: fixed;
    z-index: 999;
    height: 5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  .customer_details {
    position: relative;
    z-index: 1;
  }
  
  .sticky-logo {
    position: sticky;
    top: 0;
    z-index: 2;
    float: left;
    margin-top: -14px;
  }
  
  .scrollable-content {
    overflow-y: auto;
    height: calc(100vh - 150px); /* Adjust the height based on your layout */
    padding-top: 20px; /* Add padding to prevent content from being hidden behind the sticky header */
  }
  .total_chits_otherbranch{
    width: 30%;
    float: right;
    padding: 1px 0px;
    height: 46px;
    margin-top: -2px;
  }
  .ob_search{
    width: 67%;
    float: left;
  }
  .search{
    width: 100%;
  }
  .searchbar-input{
    border-radius: 4px;
  }